
<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container text-center my-5">
    <h1>Welcome to the Ticketing Web Application!</h1>
    <img src="/LOGO-TWA.JPG" alt="Site Logo" class="img-fluid" />
    <h3>Manage all of your IT support tickets efficiently:</h3>
    <a href="/tickets/add" class="btn btn-primary btn-lg m-2">Create New Ticket</a>
    <a href="/tickets" class="btn btn-primary btn-lg m-2">Manage Active Tickets</a>
</div>
</body>
<%- include('partials/footer.ejs') %>


